./Clone/
./Preprocess/
./Pretrained_model/
.idea/
.vscode/
.vs/
__pycache__/
*.zip
*.pt
*.pth
*.gz
*.pkl
*.dcm
*.nii
*.bmp
*.jpg
*.jpeg
*.eif
*.png
*.ckpt
*.h5
Debug/
Release/
venv/
*/checkpoints/
./Project/3D_Segmentation/fixed_data
./Project/cnv_segmentation/result/.
./Project/DenseNet_Cifar10/data/.
./Project/CNV_Segmentation_tvt/reference/
result/
results/
logs/
checkpoint/
checkpoints/
